* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #121212;
    padding: 0 2%;
}
  
@media screen and (min-width: 1800px){
    body{
      width: 78vw;
      margin-left: 50%;
      transform: translateX(-50%);
      padding: 0;
    }
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(32, 32, 32);
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #626262;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #919191;
  }